{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#nameID').on('keyup', function() {
                var nameID = $(this).val();

                $.ajax({
                    url: '/pokedex',
                    type: 'POST',
                    data: { nameID: nameID },
                    success: function(response) {
                        if (response.error) {
                            console.log('Error:', response.error);
                        } else {
                            $('#pokemonImg').attr('src', response.img);
                            $('#pokemonName').text(response.name);
                            $('#pokemonType').text(response.type);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
    <form action="/pokedex" method="post">
        <div>
            Enter the name or ID you want to look up:
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="nameID" name="nameID" placeholder="Name or ID" type="text">
            <button class="button-primary no-underline" type="submit">Find pokemon</button>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Img</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img id="pokemonImg" src="" alt="Pokemon Image"></td>
                <td>id="pokemonName"</td>
                <td><p id="pokemonType"></p></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
