:root {
    --primary-color: #f3eff5;
    --secondary-color: #151019;
    --primary-button-color: #a88fb7;
    --secondary-button-color: #463450;
    --accent-color: #b49fc1;
  }

  .title {
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    margin: 0;
    color: #dcd5e2;
    font-family: Montserrat;
  }

  body {
    background-color: #151019;
    color: #f3eff5;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table td,
  table th {
    padding: 8px;
    border: 1px solid var(--secondary-color);
  }

  table th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .button-primary {
    background-color: var(--primary-button-color);
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }

  .button-secondary {
    background-color: var(--secondary-button-color);
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }

  .button-accent {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }

  .button-primary:hover,
  .button-secondary:hover,
  .button-accent:hover {
    opacity: 0.8;
  }

  .button-primary:focus,
  .button-secondary:focus,
  .button-accent:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--secondary-color);
  }
