{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for share in currentShares %}
            <tr>
                <td>{{ share.symbol }}</td>
                <td>{{ share.shares }}</td>
                <td>{{ share.price|usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
